
extends layout

block addlocalcss
  if page.metadata.localcss
    link(rel='stylesheet', href=page.metadata.localcss)

block addlocaljs
  if page.metadata.localjs
    each script in page.metadata.localjs
      script(src=script)

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  div.titlebar
    h1.titlebar__main= page.title
    div.titlebar__date
      ul.layout.layout--date
        li.layout__item
          i.fa.fa-calendar
        li.layout__item 
          span.date= moment(page.date).format('MMMM D, YYYY')
block content
  section.article
    article.article__primary!= typogr(page.html).typogrify()
    aside.article__secondary
      div.side-nav-inner

        if page.metadata.nav
          ul.sidenav
            each href, key in page.metadata.nav
              li.sidenav__item
                a(href=href).sidenav__link #{key}

        if page.metadata.downloads
          h3 Class Files
          ul.downloads
            each data, label in page.metadata.downloads
              li.downloads__item
                a(href=data.file, class=(data.btn ? `btn--${data.btn}` : '')).btn #{label}
                  i.fa.fa-download

        if page.metadata.tags
          h3 Tags in Lesson
          .tags
            each val, index in page.metadata.tags
              .tags__item
                div.data
                  span(class=`badge--${val.label}`).badge
                    i(class=val.icon) 
                    = val.label
                ul.tags__list
                  each tag in val.data
                    li.tags__list-item
                      if val.label == "html"
                        code &lt;#{tag}&gt;
                      if val.label == "css"
                        code #{tag}:&#123;&#125;
                      if val.label == "attribute"
                        code "#{tag}"
