
extends layout

include mixins/_title

block addlocalcss
  if page.metadata.localcss
    link(rel='stylesheet', href=page.metadata.localcss)

block addlocaljs
  if page.metadata.localjs
    each script in page.metadata.localjs
      script(src=script)

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  div.titlebar
    h1.titlebar__main
      +title(page.title)
    div.titlebar__date
      ul.layout.layout--date
        li.layout__item
          i.fa.fa-calendar
        li.layout__item
          span.date= moment(page.date).format('MMMM D, YYYY')
block content
  section.article
    article.article__primary
      if page.metadata.lesson
        h1
          +title(page.metadata.lesson)
      - const removeMore = page.html.split('<p><span class="more"></span></p>');
      - let articleData = removeMore.length === 2 ? removeMore[1] : removeMore[0]
      - articleData = articleData.replace(/<li>([#a-f0-9]*)<\/li>/g, '<li><div class="color-palette__palette" style="background-color: $1"><p>$1</p></div></li>');
      - articleData = articleData.replace(/(<h3 id="color">COLOR<\/h3>[\n]?)(<ul>)/g, '<ul class="color-palette">');
      - articleData = articleData.replace(/(<h3 id="psd">PSD<\/h3>[\n]?)(<ul>)/g, '$1<ul class="gallery">');
      - articleData = articleData.replace(/(<h3 id="pdf">PDF<\/h3>[\n]?)(<ul>)/g, '<ul class="gallery PDF">');
      - articleData = articleData.replace(/(<h3 id="zip">ZIP<\/h3>[\n]?)(<ul>)/g, '<ul class="gallery ZIP">');
      - articleData = articleData.replace(/(<h2 id="pages">PAGES<\/h2>[\n]?)(<ul>)/g, '<ul class="IMG">');
      != typogr(articleData).typogrify()
      if page.metadata.homework
        - const { lesson } = page.metadata.homework
        .homework-view
          div
            a(href=`images/${lesson}-homework.png`, target="_blank")
              img( src=`images/${lesson}-homework-sm.png`).img-circle
          div
            h2 Example of Homework
            p Your coded page should look like this when you are done.
            a(href=`${lesson}-homework.html` target="_blank").btn.btn--primary Homework Example
    aside.article__secondary
      div.side-nav-inner

        if page.metadata.nav
          ul.sidenav
            .trigger &#8250;
            each href, key in page.metadata.nav
              li.sidenav__item
                a(href=href).sidenav__link #{key}

        if page.metadata.downloads
          h3 Downloads
          ul.downloads
            each data, label in page.metadata.downloads
              li.downloads__item
                a(href=data.file, class=(data.btn ? `btn--${data.btn}` : '')).btn #{label}
                  i.fas.fa-download

        if page.metadata.tags
          h3 Tags in Lesson
          .tags
            each val, index in page.metadata.tags
              .tags__item
                div.data
                  span(class=`badge--${val.label}`).badge
                    i(class=val.icon) 
                    = val.label
                ul.tags__list
                  each tag in val.data
                    li.tags__list-item
                      if val.label == "html"
                        code &lt;#{tag}&gt;
                      if val.label == "css"
                        code #{tag}:&#123;&#125;
                      if val.label == "attribute"
                        code "#{tag}"
